<div class="pagination-container">
  <button type="button" data-testid="prev-button" class="btn btn-secondary" disabled={{if (lt @currentPage 2)
                                                                                          true}} {{on
    'click'
    @onClickPrev }}>{{"<< Prev page"}}</button>
  <button type="button" data-testid="next-button" class="btn btn-secondary" {{on 'click'
                                                                                 @onClickNext }}>{{"Next page >>"}}</button>
</div>