<div class="row">
  {{#each @model as |photo|}}
    <PhotoCard src={{photo.download_url}} alt={{photo.author}} @photo={{photo}} />
  {{/each}}
</div>
<Pagination @onClickNext={{this.handleNextPage}} @onClickPrev={{this.handlePrevPage}} @currentPage={{this.page}}/>

